USE [spring]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2/18/2016 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[AGE] [int] NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [AGE]) VALUES (1, N'Employee', 23)
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [AGE]) VALUES (2, N'Employee', 23)
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [AGE]) VALUES (3, N'Employee', 23)
